.searchBar {
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    width: 95%;
    margin-bottom: 20px;
  }
  
  .searchField {
    display: flex;
    flex-direction: column;
    background: none;
  }
  
  .searchField label {
    font-size: 14px;
    color: #181818;
    font-weight: 600;
    padding: 10px;
  }
  
  .searchField input {
    padding: 10px;
    border: none;
    font-size: 14px;
    background: #ffffff;
    color: #333;
    width: 100%;
    border: #d7d6d6 solid 1px;
  }
  
  .searchField input::-webkit-calendar-picker-indicator {
    cursor: pointer;
    background-image: url('../../../../../../public/images/calendar.png');
  }
  
  .searchField input:focus {
    outline: none;
    font-size: 14px;
  }
  
  .searchField input::placeholder {
    font-size: 14px;
    color: #585757;
    font-weight: 500;
  }
  
  .dateSection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .calendarIcon {
    margin: 3px 5px 0 0;
  }
  
  .dateInput {
    border: 8px solid #aba9a9;
    width: 80%;
    height: 40px;
    line-height: 40px;
    max-width: 150px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    margin: 0;
  }
  
  
  .searchButton {
    background-color: #007BFF; /* Light blue button */
    line-height: 20px;
    font-weight: 600;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 10px;
  }
  
  .searchButton:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
  }

  /* media for mid screens */
@media (max-width: 768px) {
    .searchBar { 
      flex-direction: column;
      align-items:stretch;
      justify-content: space-between;
    }
  }