/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Navbar container styling */
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 15px 20px;
    color: #333;
    font-family: "Montserrat", sans-serif;
}

/* Logo styling */
.logo {
    font-size: 28px;
    font-weight: bold;
    color: grey;
}

.profileIcon {
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.profileDropdownIconContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.profileNameNavBar {
    display: none;
}

.profileContainer {
    position: relative;
    display: inline-block;
    width: 80px;
    text-align: center;
}

.profileDropdown {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.profileDetails {
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #5e5c5c;
    text-align: center;
    width: 100%;
}

.profileDropdown ul {
    list-style-type: none;
}

.profileDropdown ul li {
    padding: 10px;
    cursor: pointer;
    color: #5e5c5c;
    font-weight: 600;
    width: 100%;
    text-align:left;
}

.profileDropdown ul li:hover {
    background-color: #e0e0e0;
    color: #000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbarIconContainer {
    display: flex;
    flex-direction: row;
}

.navbarMenuContainer {
    display: flex;
    flex-direction: row;
}

/* Navbar menu styling */
.navbarMenu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbarMenu li {
    margin-right: 20px;
    padding: 10px 15px;
    /* width: 100%; */
}
.navbarMenu li:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #000;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.navbarMenu li a {
    text-decoration: none;
    color: #5e5c5c;
    font-weight: 600;
}

/* Right side login button */
.loginButtom {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 80px;
    transition: background-color 0.3s ease;
}

.loginButton:hover {
    background-color: #0056b3;
}

/* Hamburger Menu Styling */
.hamburgerIcon {
    cursor: pointer;
    width: 25px;
    height: auto;
}

.navbarMenuContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Collapsible Navbar Menu on Smaller Screens */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbarIconContainer {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .navbarMenuContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .navbarMenu {
        flex-direction: column;
        width: 100%;
        margin: 10px 0 10px 0;
        background: #f5ecec;
        border-radius: 10px;
    }

    .navbarMenu li {
        margin-right: 0;
    }

    .navbarMenu li:active {
        background-color: #6b6565;
        color: #000;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
   
    .navbarMenu li a {
        padding: 10px;
    }

    .loginButtom {
        margin: 10px 0 15px 15px;
    }

    .hamburger {
        display: flex; /* Show hamburger icon on smaller screens */
    }

    .navbarRight {
        width: 100%;
    }

    .profileNameNavBar {
        display: unset;
    }

    .profileContainer {
        width: 100%;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: 1px solid #f4dada;
        border-radius: 10px;
        padding: 10px 0 10px 0;
    }

    .profileContainer img {
        margin-left: 10px;
        width: 50px;
        height: 50px;
    }

    .profileDropdown {
        width: 100%;
        position: relative;
        border: 1px solid #f4dada;
        border-radius: 10px;
        box-shadow: none;
        margin-top: 20px;
    }

    .profileDetails {
        display: none;
    }

    .profileDropdown ul {
        position: relative;
        left: 0;
        width: 100%;
        background: #f5ecec;
        border-radius: 10px;
    }
}