@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    margin: 100px 0 0 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  .searchHeadingContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px 50px 0 10%;
  }


  .searchHeadingContainer h2 {
    font-size: 24px;
    font-weight: 600;
    color: #181818;
    margin: 10px;
    line-height:  30px;
  }

  .searchHeadingContainer h3 {
    font-size: 14px;
    font-weight: 500;
    color: #6b6969;
    margin: 10px;
    line-height: 30px;
  }

  .searchResultContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px 0 20px;
  }

  .searchResultCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: 1.66%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* padding: 20px; */
    box-sizing: border-box;
    cursor: pointer;
  }

  .searchResultCard:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
  }

  .searchResultImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }

  .searchResultDetails {
    display: flex;
    flex-direction: row;
    margin: 20px 10px 20px 10px;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    font-family: "Montserrat", sans-serif;
  }

  .searchResultDetailsLeft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 10px;
  }

  .searchResultDetailsRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .searchResultDetails h3 {
    font-size: 18px;
  }

  .searchResultText  {
    font-size: 12px;
    font-weight: 500;
    color: #5c5b5b;
    line-height: 20px;
    margin-top: 5px;
  }

.searchResultPrice {
    font-size: 14px;
    font-weight: 700;
    color: #3d3d3d;
    line-height: 20px;
  }

.hotelRatingBar {
  background-color: red;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
}

.react-datepicker__month-container {
  width: auto !important;
}

.react-datepicker {
  display: flex;
  justify-content: space-between;
}
/* media for mid screens */
@media (max-width: 768px) {
  .searchResultCard {
    width: 45%;
    margin: 2.5%;
  }
  .searchBar { 
    flex-direction: column;
    align-items:stretch;
    justify-content: space-between;
  }
}

/* media for small screens */
@media (max-width: 480px) {
  .searchResultCard {
    width: 95%;
    margin: 2.5%;
  }
  
}


.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.loader {
  margin: auto;
  width: 50px;
  height: 50px;
  background-color: #FF5C35;
  animation: spin 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}

@keyframes spin {
  0%, 100% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(0.5) rotate(180deg);
  }
}